<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- c01基础学习c02，9内置对象，c07config对象初始化参数-->
    <servlet>
        <servlet-name>config</servlet-name>
        <jsp-file>/c01basic/c02builtIn9Objects/c07config.jsp</jsp-file>
        <init-param>
            <param-name>jdbcName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>jdbc:mysql://localhost:3306/db_xx</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <!-- c01基础学习c05，servlet 登陆 -->
    <servlet>
        <servlet-name>C05LoginServlet</servlet-name>
        <servlet-class>com.ims.c01basic.C05LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>C05LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- c01基础学习c05，servlet 过滤 -->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.ims.c01basic.C05LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- c01基础学习c05，servlet 监听器 -->
    <listener>
        <listener-class>
            com.ims.c01basic.C05SessionAttributeListener
        </listener-class>
    </listener>

</web-app>
